:root {
    --lvl1: #282832;
    --lvl2: #77181e;
    --lvl3: #a92727;
    --lvl4: #c6d6d6;
    --lvl5: #dee7e7;
    --lvl6: #fe6c2b;
    --lvl7: #340016;
    --font-primary: sans-serif;
    --font-headings: 'Roboto Slab', serif;
    --spacing-gutter-large: 4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-primary);
    background-color: var(--lvl5);
}

.main-header-container {
    width: 100%;
    background-color: var(--lvl7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headings);
}

.main-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 2rem;
}

.main-logo-icon {
    color: white;
    font-size: 3rem;
}

.main-logo-text {
    margin-left: 1rem;
    color: white;
    font-size: 3.6rem;
}

.container-search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem;
}

.search-form {
    max-width: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--lvl5);
    border: 2px solid #333;
    border-radius: 0.5rem;
    transition: all 300ms ease-in-out;
}

.search-button,
.search-input,
.search-button i {
    background: none;
}

.search-input::-webkit-search-cancel-button {
    display: none;
}

.search-input {
    width: 50rem;
    height: 3.5rem;
    max-width: 50rem;
    border-radius: 1rem;
    outline: none;
    padding: 1rem;
    font-size: 1.6rem;
    border: 0px;
    transition: all 300ms ease-in-out;
}

.search-button {
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 0.25rem;
    border: 0px;
    outline: none;
    border-radius: 0.4rem;
    transition: all 300ms ease-in-out;
}

.search-button i {
    color: black;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.search-button:focus {
    background: rgba(52, 0, 22, .9);
}

.search-form:focus-within {
    border: 2px solid var(--lvl3);
    background: #fff;
}

.search-form:focus-within .search-button i {
    color: var(--lvl3);
}

.main-content {
    width: 89%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.recipe-list-item {
    max-height: 60rem;
    height: auto;
    width: 38rem;
    background: none;
    margin: 0 1rem 6rem 1rem;
    transition: all 300ms ease-in-out;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.9) -4px 9px 10px -6px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.recipe-list-item:hover {
    transform: scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.9) -6px 9px 25px -6px;
}

.recipe-cover img {
    width: 100%;
    height: 20rem;
    border-radius: 0.5rem 0.5rem 0 0;
    border: none;
    outline: none;
}

.recipe-text-infos{
    padding: 3rem;
    height: auto;
}

.recipe-title-container, .recipe-author, .recipe-description{
    margin-bottom: 1.5rem
}

.recipe-author{
    height: 3rem;
}
.recipe-author-item{
    font-size: 1.0rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    color: gray;
}

.recipe-author-item a{
    cursor: pointer;
    color: rgb(7, 126, 223);
    transition: all 300ms ease-in-out;  
}

.recipe-author-item a:hover{
    color: var(--lvl1);
}

.recipe-description p{
    text-align: justify;
    font-size: 1.5rem;
}
.recipe-meta-container{
    justify-self: flex-end;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
    background: var(--lvl4);
    
}
.recipe-meta {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}
.recipe-meta-title{
    font-size: 1.6rem;
}
.recipe-meta-text{
    font-size: 1.4rem;
}
.recipe-footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 0rem 0  0.5rem 0.5rem;
    background: var(--lvl7);
}

.recipe-footer{
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    color: #fff;
    border-radius: 0 0 0.5rem 0.5rem;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}

.recipe-footer a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    transition: all 300ms ease-in-out;
}

.recipe-footer a i{
    margin-right: 0.5rem;
}

.main-footer {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--lvl7);
    padding: 3rem;
    color: var(--lvl5);
}

.main-footer a {
    color: var(--color-white);
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.main-footer a:hover {
    filter: brightness(.8);
}



@media screen and (max-width: 580px){
    .container-search{
        width: 100%
    }
    .search-form{
        width: 80%;
    }
}