{% include "receitas/partials/head.html" %}

<body>
    <div class="main-container">
        {% include "receitas/partials/header.html" %} {% include "receitas/partials/search.html" %}
        <main class="main-content-container">
            <div class="main-content container">
                {% include "receitas/partials/recipe.html"%}
                {% include "receitas/partials/recipe.html"%}
                {% include "receitas/partials/recipe.html"%}
                {% include "receitas/partials/recipe.html"%}
                {% include "receitas/partials/recipe.html"%}
                {% include "receitas/partials/recipe.html"%}
                {% include "receitas/partials/recipe.html"%}
                {% include "receitas/partials/recipe.html"%}
            </div>
        </main>
    </div>

</body>

</html>